<div class="container animate__animated animate__fadeIn">
  <button (click)="click()" class="icon-button" [attr.aria-label]="service.name">
    <!-- <ion-icon *ngIf="!service.icon" size="large" [name]="service.port ? 'logo-capacitor' : 'document-text-outline'"></ion-icon> -->
    @if (!service.icon && !service.port) {
      <ion-icon name="document-text-outline"></ion-icon>
    }
    @if (!service.icon && service.port) {
      <img src="assets/cap-icon.svg" />
    }
    @if (service.icon) {
      <img draggable="false" class="icon" [src]="safeUrl(service.icon)" (error)="service.icon = undefined" />
    }
  </button>
  <ion-label aria-hidden="true" (click)="press()">{{service.name}}</ion-label>
</div>